body 
{
   background:#e8f5fe;
}
.heoheo 
{
	background-image:url('../image/h_10.jpg');
    height:25px;
    display:block;
	color:#FFF;
	text-decoration:none;
	font-weight:bold;
	font-size:10pt;
	text-align:center;
}
.heoheo td a
{
	display:block;
	color:#FFF;
	text-decoration:none;
	font-weight:bold;
	font-size:10pt;
	text-align:center;
}
a
{
	display:block;
	text-decoration:none;
	font-size:10pt;
	
}
a:hover
{
	display:block;
	color:Red;
	text-decoration:none;
	
}
.heoheo a:hover
{
	display:block;
	color:Red;
	text-decoration:none;
	font-weight:bold;
	font-size:10pt;
	text-align:center;
}

.voicon td a
{
	display:block;
	color:#284E98;
	text-decoration:none;	
	font-size:10pt;
	font-family:Verdana;
}

.voicon a:hover
{
	display:block;
	color:Yellow;
	text-decoration:none;	
	font-size:10pt;
	font-family:Verdana;
}

.vitvit
{
    background:white;
    text-align:left;
    vertical-align:text-top;
}
.nantoantap
{
    display:block;
	color:#FFF;
	text-decoration:none;
	font-weight:bold;
	font-size:15px;
}